.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5vw;
  background-color: #f8f9fa;
  border-radius: 35px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 5vh auto;
  max-width: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  font-size: 6vw;
  color: #333;
  margin-bottom: 4vw;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 6vw;
  width: 100%;
  justify-content: center;
}

.login-form label {
  font-size: 4vw;
  color: #555;
  text-align: left;
}

.login-form input {
  padding: 3vw;
  font-size: 4vw;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 2vw;
  width: 100%;
}

.login-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 3vw 7vw;
  font-size: 4vw;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
}

.login-form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media (min-width: 600px) {
  .login-container {
    padding: 6vw;
    margin: 4vh auto;
    max-width: 600px;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }

  .login-form label {
    font-size: 1rem;
  }

  .login-form input, .login-form button {
    font-size: 1.1rem;
  }
}

@media (min-width: 900px) {
  .login-container {
    padding: 4vw;
    margin: 5vh auto;
    max-width: 400px;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .login-form label {
    font-size: 1rem;
  }

  .login-form input, .login-form button {
    font-size: 1.1rem;
  }
}
